/* Import librarys*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: 'Noto Sans JP';
  src: url('/fonts/NotoSans_japanese.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans_english.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: optional;
}

body {
  @apply font-sans font-normal;
  font-weight: 400;
}